/* FONTES IMPORTADAS */

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Bruno+Ace+SC&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ROOT DE CORES */

:root {
    --verde1: #00383B;
    --verde2: #107D5D;
    --verde3: #becdbf;
    --verde4: #11DDA1;
    --verde5: #00AD7A;
    --branco: #fff;
}


/* FORMATAÇÃO PADRÃO */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */



/* HEADER */

header{
    width: 100%;
    background: linear-gradient(to right, var(--verde2), var(--verde1));

    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: center;
}

nav {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img{
    width: 4rem;    
}

nav #links{
    display: flex;
    gap: 1.5rem;
}

header .navbar a{
    color: var(--branco);
    position: relative;
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 300;
}

.navbar a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.375rem;
    width: 100%;
    height: 0.125rem;
    background-color: var(--branco);
    border-radius: 2.5rem;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s;
}
.navbar a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

#menu{
    background-color: transparent;
    border: none;
    color: var(--branco);
    font-size: 2.5rem;
    position: absolute;
    top: 1.3rem;
    right: 3rem;
    display: none;

    transition: all 0.5s ease
}

#menu:hover{
    cursor: pointer;
    transform: scale(1.20);
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* PADRONIZAÇÃO DE CONTAINERS */

.container{
    width: auto;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* CONTAINER 1 */

#container1{
    background-color: var(--branco);
}

#eleve{
    width: 90%;
    font-size: 6vh;
    font-weight: 700;
    line-height: 6vh;

    background-image: linear-gradient(to right, var(--verde2), var(--verde1));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

#oferecemos{
    width: 70%;
    font-size: 3vh;
    line-height: 3vh;

    color: var(--verde1);
}

#botao1{
    width: 20rem;
    height: 3rem;
    border-radius: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.5s ease;
    background: linear-gradient(to right, var(--verde2), var(--verde1));
    color: var(--branco);
}

#botao1:hover{
    transform: scale(1.20);
    cursor: pointer;
}

#botao11{
    font-size: 1.2rem;
    font-weight: 600;
}

#victorfoto{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60vh;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* CONTAINER 2 */

#container2{
    background: linear-gradient(to right, var(--verde2), var(--verde1));
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* CONTAINER 3 */

#servicos{
    width: 90%;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 3.5rem;

    background-image: linear-gradient(to right, var(--verde2), var(--verde1));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

#caixa{
    background-color: var(--verde2);
    width: 20rem; 
    height: 25rem;
    border-radius: 0.625rem;
    display: flex; 
    align-items: center;
    justify-content: center;
}

#cartao1{
    width: 90%;
    display: flex; 
    flex-direction: column;
}

.cartao-linha{
    display: flex;

}

#caixa img{
    width: 2rem;
    height: 2rem;
}


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* CONTAINER 4 */

#container4{
    background: linear-gradient(to right, var(--verde2), var(--verde1));
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* SCROLL BAR (BARRA DE SCROLL LATERAL) */

::-webkit-scrollbar {
    width: 0.625rem; 
}


::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, var(--verde1), var(--verde2)); 
}


::-webkit-scrollbar-thumb {
    background: var(--verde4); 
    border-radius: 0.625rem; 
}


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* MEDIA QUERRY DE CADA ESPAÇAMENTO, TÁ TUDO MUITO AJUSTADO JÁ, SÓ COLOCAR O CONTEÚDO EM CADA CONTAINER */

@media(max-width: 1440px){


}

@media(max-width: 1024px){
    #container1 .conteudo{
        width: 90%;
    }

    #eleve{
        width: 80%;
    }
    
    #oferecemos{
        width: 60vw;
        font-size: 2.5vh;
        line-height: 3vh;
    
    }

    #victorfoto{
        width: 50vh
    }

}

@media(max-width: 880px){
    #eleve{
        font-size: 5.5vh;
        line-height: 5.5vh;
    }
}

@media(max-width: 830px){
    #eleve{
        font-size: 4.5vh;
        line-height: 4.5vh;
    }
}

@media(max-width: 768px){

    nav {
        flex-direction: column;
        align-items: flex-start;
        width: 90vw;
        margin-top: 2vh;
    }
    
    #links{
        flex-direction: column;
        align-items: unset;
        margin: 1.5vh 0;
        height: 0;
        opacity: 0;
    }
    
    .links{
        margin: 0.5vh;
    }

    #menu{
        display: flex;
    }

    #menu:focus ~ #links{
        opacity: 100%;
        height: 100%;
    }

    #victorfoto{
        width: 40vh
    }
}

@media(max-width: 680px){

    #eleve{
        font-size: 4.5vh;
        line-height: 4.5vh;
    }

    #botao1{
        width: 15rem;
        height: 2rem;
        border-radius: 2rem;
    }
    
    #botao11{
        font-size: 1rem;
    }
}

@media(max-width: 520px){

}

@media(max-width: 440px){

    #eleve{
        font-size: 3.5vh;
        line-height: 3.5vh;
    }

    #oferecemos{
        width: 60vw;
        font-size: 2vh;
        line-height: 2vh;
    
    }

    
}

@media(max-width: 439px){
    .card{
        max-width: 350px;
        max-height: 450px;
        border-radius: 2rem;
    
        background-color: var(--verde5);
    }
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* MEDIAS EXTRAS */

@media(max-width: 500px) and (max-height: 1040px){

    #victorfoto{
        width: 35vh
    }

    #eleve{
        width: 80vw;
        font-size: 3.5vh;
        line-height: 3.5vh;
    }

    #oferecemos{
        width: 60vw;
        font-size: 2vh;
        line-height: 2vh;
    
    }
}

